/.idea/
/src/Background.class
/src/Explosion.class
/src/GameOverScreen.class
/src/GameWorld.class
/src/Laser.class
/src/Level_1_Task.class
/src/Level_2_Task.class
/src/Moon.class
/src/NowEntering.class
/src/Player.class
/src/Space.class
/src/StartScreen.class
/src/Sun.class
/src/Ufo.class